<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gateway Admin{% endblock %}</title>
        {% block stylesheets %}
        <style>
            .ui-datepicker-calendar {
                display: none;
            }
        </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- CSS -->
        <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/datepicker/bootstrap-datepicker.css') }}" rel="stylesheet" />

        <!-- JS -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/select2.min.js') }}"></script>



    </head>
    <body>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript">
                //$('.modal').modal();
            </script>
        {% endblock %}

        <div id="modal" class="modal hide fade" style="display: none;" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-state1">Add New Company</h2>
                <h2 class="modal-state2">Add New User</h2>
            </div>
            <div class="modal-body">



                <form role="form" class="form-horizontal" name="modalForm">
                    <!-- New Company -->
                    <div class="form-group has-feedback modal-state1">
                        <label for="company_name" class="control-label col-xs-3">Company Name:</label>
                        <div class="col-xs-6">
                            <div class="input-group">

                                <input id="company_name" type="text" class="form-control" required="required" name="company_name">
                                <span class="form-control-feedback" data-err-msg="company-name-err"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group has-feedback modal-state1">
                        <label for="company_quota" class="control-label col-xs-3">Company Quota:</label>
                        <div class="col-xs-6">
                            <div class="input-group">

                                <input id="company_quota" type="number" class="form-control" required="required" name="company_quota" min="10" >
                                <span class="form-control-feedback" data-err-msg="company-quota-err"></span>
                            </div>

                        </div>
                    </div>
                    <!-- New User -->
                    <div class="form-group has-feedback modal-state2">
                        <label for="user_name" class="control-label col-xs-3">User Name:</label>
                        <div class="col-xs-6">
                            <div class="input-group">

                                <input id="user_name" type="text" class="form-control" required="required" name="user_name">
                                <span class="form-control-feedback" data-err-msg="user-name-err"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback modal-state2">
                        <label for="user_email" class="control-label col-xs-3">User Email:</label>
                        <div class="col-xs-6">
                            <div class="input-group">

                                <input id="user_email" type="email" class="form-control" required="required" name="user_email">
                                <span class="form-control-feedback" data-err-msg="user-email-err"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback modal-state2">
                        <label for="user_company" class="control-label col-xs-3">User Company:</label>
                        <div class="col-xs-6">
                            <div class="input-group">

                                <select id="user_company" name="user_company" required="requred" class="validate">
                                    <option value="" disabled="disabled" selected="selected">Please Wait...</option>
                                </select>
                                <span class="form-control-feedback" data-err-msg="user-company-err"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <span class="error-text modal-state1">
                    <span class="error-body hidden">
                    Not all entries are correct.
                    Make sure that the fields you are filled, correspond to the following requirements:
                    <ul>
                        <li id="company-name-err">Company name not blank</li>
                        <li id="company-quota-err">Company quota not blank, and more than 10</li>
                    </ul>
                    </span>
                </span>
                <span class="error-text modal-state2">
                    <span class="error-body hidden">
                    Not all entries are correct.
                    Make sure that the fields you are filled, correspond to the following requirements:
                    <ul>
                        <li id="user-name-err">User name not blank</li>
                        <li id="user-email-err">User email not blank and is valid email</li>
                        <li id="user-company-err">User must be boud to a company</li>
                    </ul>
                    </span>
                </span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button id="button-add-company" class="btn btn-primary modal-state1" type="button">Add Company</button>
                <button id="button-add-user" class="btn btn-primary modal-state2" type="button">Add User</button>
                {#</form>#}
            </div>
        </div>
    </body>
</html>
