<div class="bodycontainer scrollable">

<table class="users-table table table-bordered" border="1px" id="companies-list-table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Limit (TB)</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tr>
        <td colspan="4">Please wait...</td>
    </tr>
</table>
</div>

<a href="" id="company-add">[add]</a>

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#company-add").on('click', function(e){
                showModal();
                e.stopPropagation();
                return false;
            });

            $("#button-add-company").on('click', function(){
                if (validateForm('modal-state1')) {
                    var cname = $('#company_name').val();
                    var cquota = $('#company_quota').val();
                    $.ajax({
                        type: 'POST',
                        url: '/api/company/new',
                        data: 'name='+cname+'&quota='+cquota,
                        success: function(data){
                            if (data.success) {
                                $('#modal').modal('hide');
                                var html = '<tr class="company-tr" data-id="'+data.id+'">';
                                html += '<td class="name">'+cname+'</td>';
                                html += '<td class="quota">'+cquota+'</td>';
                                html += '<td><a href="#" onclick="editCompany('+data.id+')">Edit</a></td>';
                                html += '<td><a href="#" onclick="removeCompany('+data.id+')">Delete</a></td>';
                                html += '</tr>';
                                $('#companies-list-table tr').eq(0).after(html);
                            }

                        }
                    });
                }
            });
            updateTable('companies');
        });
    </script>
{% endblock %}

