{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="container"><h2>Gateway Administration</h2></div>

            <div id="exTab2" class="container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a  href="#companies" data-toggle="tab">Companies</a>
                    </li>
                    <li><a href="#users" data-toggle="tab">Users</a>
                    </li>
                    <li><a href="#logs" data-toggle="tab">Traffic Logs</a>
                    </li>
                </ul>

                <div class="tab-content ">
                    <div class="tab-pane active" id="companies">
                        <h3>Companies</h3>
                        <div class="tab-pane content">
                            {{ render('/companies') }}
                        </div>
                    </div>
                    <div class="tab-pane" id="users">
                        <h3>Users</h3>
                        <div class="tab-pane content">
                            {{ render('/users') }}
                        </div>
                    </div>
                    <div class="tab-pane" id="logs">
                        <h3>Traffic Logs</h3>
                        <div class="tab-pane content">
                            {{ render('/logs') }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $('#modal').modal();

    function removeUser($id){
        $.ajax({
            type: 'POST',
            url: '/api/user/delete',
            data: 'id='+$id,
            success: function(data){
                updateTable('users')
            }
        });
    }

    function removeCompany($id){
        $.ajax({
            type: 'POST',
            url: '/api/company/delete',
            data: 'id='+$id,
            success: function(data){
                updateTable('companies')
            }
        });
    }

    function showModal(isCompany){
        if(isCompany == undefined) isCompany = true;
        $('#modal').modal('show');
        $('input, select.validate').each(function() {
            var input = $(this);
            var formGroup = $(this).parents('.form-group');
            var glyphicon = formGroup.find('.form-control-feedback');
            glyphicon.removeClass('icon-ok').removeClass('icon-remove');
            input.val('');
        });
        if (isCompany == true){
            $(".modal-state1").show();
            $(".modal-state2").hide();
        }else{
            $(".modal-state1").hide();
            $(".modal-state2").show();
        }
    }

    function validateForm(formStateId){
        var formValid = true;
        var errText = $('div.modal-body span.error-body');
        var errBody = $('span.error-text');

        $('input, select.validate').each(function() {
            var input = $(this);
            var formGroup = $(this).parents('.form-group');
            var glyphicon = formGroup.find('.form-control-feedback');

            if ($(this).closest('div.form-group').hasClass(formStateId)){
                console.log(this, this.checkValidity());
                if (this.checkValidity()) {
                    input.addClass('has-success').removeClass('has-error');
                    formGroup.addClass('has-success').removeClass('has-error');
                    glyphicon.addClass('icon-ok').removeClass('icon-remove');
                    $('#'+glyphicon.attr('data-err-msg')).addClass('hidden');

                } else {
                    input.addClass('has-error').removeClass('has-success');
                    formGroup.addClass('has-error').removeClass('has-success');
                    glyphicon.addClass('icon-remove').removeClass('icon-ok');
                    $('#'+glyphicon.attr('data-err-msg')).removeClass('hidden');

                    formValid = false;
                }
            }
        });
        if (!formValid) {
            errText.removeClass('hidden');

            $(errBody).each(function() {
                $(this).removeClass('hidden');
            });
        }else{
            errText.addClass('hidden');

            $(errBody).each(function() {
                $(this).addClass('hidden');
            });
        }
        return formValid;
    }

    function updateTable($table){
        var $tableType = 0;
        if ($table==undefined) $table='companies';
        $.ajax({
            type: 'POST',
            url: '/api/'+$table,
            success: function(data){
                var $id = '#' + $table + "-list-table";
                $($id).find("tr:gt(0)").remove();
                for(var i=0; i<data.count; i++){

                    var obj = undefined;
                    if ($table=='companies'){
                        obj = data.companies[i];
                    }else if ($table=='users'){
                        obj = data.users[i];
                        $tableType = 1;
                    }else if ($table=='logs'){
                        obj = data.logs[i];
                        $tableType = 2;
                    }else if ($table=='ablogs'){
                        obj = data.ablogs[i];
                        $tableType = 3;
                    }
                    var html = '<tr class="'+$table+'-tr" data-id="'+obj.id+'">';
                    if ($tableType==0){
                        html += '<td class="name">'+obj.name+'</td>';
                        html += '<td class="quota">'+obj.quota+'</td>';
                        html += '<td><a href="#" onclick="editCompany('+obj.id+')">Edit</a></td>';
                        html += '<td><a href="#" onclick="removeCompany('+obj.id+')">Delete</a></td>';
                    }else if($tableType==1){
                        html += '<td class="name">'+obj.name+'</td>';
                        html += '<td class="email">'+obj.email+'</td>';
                        html += '<td class="company">'+obj.companyName+'</td>';
                        html += '<td><a href="#" onclick="editUser('+obj.id+')">Edit</a></td>';
                        html += '<td><a href="#" onclick="removeUser('+obj.id+')">Delete</a></td>';
                    }else if($tableType==2){
                        html += '<td>'+obj.name+'</td>';
                        html += '<td>'+obj.datetime+'</td>';
                        html += '<td>'+obj.resource+'</td>';
                        html += '<td>'+obj.bytess+'</td>';
                    }else if($tableType==3){
                        html += '<td>'+obj.name+'</td>';
                        html += '<td>'+obj.used+'</td>';
                        html += '<td>'+obj.quota+'</td>';
                    }
                    html += '</tr>';
                    $($id+' tr').eq(0).after(html);
                }
                if(data.count == 0){
                    html = '<tr>';
                    html += '<td colspan="4">';
                    if ($tableType==0){
                        html += '<i>No companies found, add new one by clicing [add] link</i>';
                    }else if($tableType==1){
                        html += '<i>No users found, add new one by clicing [add] link</i>';
                    }else if($tableType==2){
                        html += '<i>No logs found, generate new log by pressing [generate] button</i>';
                    }else if($tableType==3){
                        html += '<i>No logs avaiable at selected mont :(</i>';
                    }
                    html += '</td>';
                    html += '</tr>';
                    console.log($id);
                    $($id+' tr').eq(0).after(html);
                }

            }
        });
    }
</script>
{% endblock %}