<div id="exTab3" class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a  href="#users-log" data-toggle="tab">Users Log</a>
        </li>
        <li><a href="#abusers" data-toggle="tab">Abusers</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="users-log">
            <h6>Users Log List <button id="btn-generate">Generate</button></h6>
            <div class="tab-pane content">
                <div class="bodycontainer scrollable">
                    <table class="logs-list-table table table-bordered" border="1px" id="logs-list-table">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Date/time</th>
                            <th>Resource</th>
                            <th>Transferred</th>
                        </tr>
                        </thead>
                        <tr>
                            <td colspan="4">Please wait...</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="tab-pane" id="abusers">
            <h6>List of companies, that exceed quota:</h6>
                <p>Select Month to show the Log: </p>
                <input id="monthpicker">

            <div class="bodycontainer scrollable">
                <table class="ablogs-list-table table table-bordered" border="1px" id="ablogs-list-table">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>Used</th>
                        <th>Quota</th>
                    </tr>
                    </thead>
                    <tr>
                        <td colspan="3">Select month first!</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var startDate = new Date();

            $('#monthpicker').datepicker({
                autoclose: true,
                minViewMode: 1,
                format: 'mm/yyyy'
            }).on('changeDate', function(selected){
                startDate = new Date(selected.date.valueOf());
                startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                $.ajax({
                    type: 'POST',
                    url: '/api/ablogs',
                    data: 'date='+$('#monthpicker').val(),
                    success: function(data){
                        if (data.success) {
                            $('#ablogs-list-table').find("tr:gt(0)").remove();
                            var html = '<tr>';
                            for(var i=0; i<data.count; i++){
                                var obj = data.ablogs[i];
                                html += '<td>'+obj.name+'</td>';
                                html += '<td>'+obj.used+'</td>';
                                html += '<td>'+obj.quota+' TB</td>';
                            }

                            if(data.count==0){
                                html += '<td colspan="4">No abusers at selected month</td>';
                            }
                            $('#ablogs-list-table tr').eq(0).after(html);
                            html += '</tr>';
                        }

                    }
                });
            });


            $("#btn-generate").on('click', function(){
                $.ajax({
                    type: 'POST',
                    url: '/api/service/generate',
                    success: function(data){
                        if (data.success) {
                            updateTable('logs');
                        }

                    }
                });

            });
            updateTable('logs');
        });
    </script>
{% endblock %}