<div class="bodycontainer scrollable">

<table class="users-list-table table table-bordered" border="1px" id="users-list-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Company</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tr>
        <td colspan="5">Please wait...</td>
    </tr>
</table>
</div>

<a href="#" id="user-add">[add]</a>

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        //$("#company").select2();

        function getCompaniesList(){
            $.ajax({
                type: 'POST',
                url: '/api/companies',
                success: function(data){
                    if (data.success) {
                        var options = '<option value="" disabled="disabled">Select Company...</option>';
                        for(var i=0; i<data.count; i++){
                            var obj = data.companies[i];
                            options += '<option value="'+obj.id+'">'+obj.name+'</option>';
                        }
                        $('#user_company').html(options);
                    }

                }
            });
        }

        $("#user-add").on('click', function(e){
            getCompaniesList();
            showModal(false);
            e.stopPropagation();
            return false;
        });

        $("#button-add-user").on('click', function(){
            if (validateForm('modal-state2')) {
                var uname = $('#user_name').val();
                var uemail = $('#user_email').val();
                var ucid = $('#user_company').val();
                var ucname = $('#user_company').find('option:selected').text();
                $.ajax({
                    type: 'POST',
                    url: '/api/user/new',
                    data: 'name='+uname+'&email='+uemail+'&company_id='+ucid,
                    success: function(data){
                        if (data.success) {
                            $('#modal').modal('hide');
                            var html = '<tr class="users-tr" data-id="'+data.id+'">';
                            html += '<td class="name">'+uname+'</td>';
                            html += '<td class="email">'+uemail+'</td>';
                            html += '<td class="company">'+ucname+'</td>';
                            html += '<td><a href="#" onclick="editUser('+data.id+')">Edit</a></td>';
                            html += '<td><a href="#" onclick="removeUser('+data.id+')">Delete</a></td>';
                            html += '</tr>';
                            $('#users-list-table tr').eq(0).after(html);
                        }

                    }
                });
            }
        });
        updateTable('users');
    });
</script>
{% endblock %}


